.questions {
    padding-top: 80px;
    &-title {
        text-align: center;
        margin-bottom: 30px;
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;
    }
    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(180deg, #ECE5D8 0%, #ECE5D8A3 100%);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        &-title {
            font-weight: 500;
            font-size: 20px;
            margin: 0;
        }
        &-more {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color: rgba($color: gray, $alpha: .3);
            border-radius: 10px;
        }
        &-descr {
            font-size: 18px;
            font-weight: 300;
            transition: all 0.25s ease;
            height: 0;
            overflow: hidden;
            span {
                font-weight: 500;
            }
            &-active {
                height: fit-content;
                padding: 20px;
                transition: all 0.25s ease;
            }
        }
    }
    &-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        &-social {
            display: flex;
            gap: 50px;
            a {
                font-size: 40px;
                color: #E75D14;
                i {
                    cursor: pointer;
                }
            }
        }
    }
}