@media (max-width: 1200px){
	.nav {
		&-center {
			&-callback {
				display: none;
			}
			&-social {
				margin-left: -60px;
			}
		}
	}
	.questions {
		&-item {
			&-title {
				font-size: 18px;
			}
		}
	}
	.review {
		.carousel {
			height: 850px;
			&-item {
				height: 850px;
			}
		}
	}
}

@media (max-width: 992px){
	.nav {
		&-top {
			display: none;
		}
		&-center {
			display: none;
		}
		&-bottom {
			display: none;
		}
		&-divider {
			display: none;
		}
		&-mobile {
			display: flex;
		}
	}
	.main {
		&-container {
			padding: 40px;
		}
		h1 {
			width: 100%;
		}
		&-people {
			width: 95%;
		}
	}
	.services {
		&-item {
			width: 300px;
			height: 280px;
		}
	}
	.about {
		&-wrapper {
			padding: 20px;
		}
		&-person {
			left: -95px;
		}
	}
	.advantages {
		&-title {
			text-align: center;
		}
	}
	.questions {
		&-item {
			&-title {
				width: 80%;
			}
		}
	}
	.price {
		&-desc {
			&-title {
				font-size: 20px;
			}
		}
	}
	.footer {
		&-wrapper {
			height: 225px;
		}
		&-logo {
			width: 250px;
		}
		&-left {
			width: 30%;
			&-phone {
				font-size: 20px;
			}
		}
		&-center {
			&-title {
				font-size: 20px;
			}
			&-button {
				font-size: 15px;
			}
		}
		&-right {
			&-title {
				font-size: 20px;
			}
		}
	}
}

@media (max-width: 820px){
	.request {
		width: 100%;
	}
}

@media (max-width: 768px){
	.nav {
		&-mobile {
			&-menu {
				&-active {
					width: 80%;
				}
			}
			&-phone {
				display: none;
			}
		}
	}
	.phone {
		display: none;
	}
	.main {
		height: 565px;
		&-container {
			padding: 20px;
			height: 565px;
		}
		h1 {
			font-size: 25px;
		}
		&-vector2 {
			width: 100%;
		}
	}
	.about {
		&-experience {
			width: 450px;
		}
	}
	.advantages {
		&-title {
			&-wrapper {
				flex-direction: column;
				gap: 30px;
			}
		}
	}
	.review {
		.carousel {
			height: 700px;
			&-item {
				height: 700px;
			}
		}
	}
	.about-main {
		&-wrapper {
			height: 600px;
			gap: 50px;
		}
		&-info {
			&-item {
				font-size: 20px;
			}
		}
	}
	.footer {
		&-left {
			width: 50%;
		}
		&-center {
			display: none;
		}
	}
}

@media (max-width: 576px) {
	.nav {
		&-mobile {
			&-menu {
				&-active {
					width: 100%;
				}
			}
		}
	}
    .request {
        .container {
            width: 100%;
            padding: 0;
			margin-top: 40px;
        }
		&-close {
			top: -40px;
			left: 50%;
			transform: translateX(-50%);
			right: 0;
			width: 30px;
		}
        &-form {
            width: 270px;
            padding: 0 10px;
            &-item {
                width: 100%;
                label {
                    font-size: 12px;
                }
            }
            &-prev, &-next, .main-btn {
                font-size: 12px;
            }
        }
    }
	.questions {
		&-item {
			&-title {
				font-size: 16px;
			}
		}
	}
	.footer {
		.container {
			padding: 10px;
		}
	}
}

@media (max-width: 527px){
	.price {
		&-more {
			a {
				font-size: 20px;
			}
		}
	}
	.footer {
		&-wrapper {
			height: 180px;
			gap: 20px;
		}
		&-left {
			&-phone {
				font-size: 18px;
			}
			&-text {
				font-size: 13px;
			}
		}
		&-right {
			width: 30%;
			gap: 10px;
			ul {
				li {
					line-height: 15px;
					a {
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media (max-width: 500px){
	.about {
		&-experience {
			width: 100%;
		}
	}
	.consulting {
		&-descr {
			font-size: 18px;
			text-align: center;
		}
	}
	.about-main {
		&-info {
			&-item {
				font-size: 15px;
			}
		}
	}
}

@media (max-width: 450px){
	.nav {
		&-mobile {
			&-logo {
				width: 250px;
			}
			&-menu {
				&-btns-wrapper {
					flex-direction: column;
					gap: 10px;
				}
			}
		}
	}
	.main {
		height: 460px;
		&-container {
			height: 460px;
		}
		h1 {
			font-size: 20px;
		}
	}
	.advantages {
		&-item {
			&-title{
				text-align: center;
			}
		}
	}
	.price {
		h1 {
			font-size: 20px;
		}
		h2 {
			font-size: 20px;
		}
		h3 {
			font-size: 15px;
		}
		&-desc {
			&-title {
				font-size: 17px;
			}
		}
	}
}

@media (max-width: 400px){
	.questions {
		&-item {
			&-title {
				font-size: 13px;
			}
		}
	}
	.price {
		&-more {
			flex-direction: column;
		}
	}
	.footer {
		&-logo {
			width: 200px;
		}
		&-left {
			&-phone {
				font-size: 16px;
			}
			&-text {
				font-size: 12px;
			}
		}
		&-right {
			ul {
				li {
					a {
						font-size: 10px;
					}
				}
			}
		}
	}
}