.review {
    margin-top: 50px;
    &-title {
        text-align: center;
        margin-bottom: 30px;
    }
    .carousel {
        height: calc(100vh - 588px);
        &-item {
            height: calc(100vh - 588px);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &-caption {
            background: linear-gradient(180deg, #ECE5D8 0%, #ECE5D8A3 100%);
            color: #000;
            bottom: 0;
        }
        &-control-next, &-control-prev {
            background-color: #000;
            &-icon {
                cursor: pointer;
            }
        }
    }
    h5 {
        font-size: 30px;
    }
    &-text {
        font-weight: 700;
        width: 200px;
        margin: 0 auto;
        text-align: start;
        span {
            color: #E75D14;
            margin-right: 30px;
        }
    }
}